streamlit==1.45.1
pandas==2.2.3
numpy==1.26.4
gspread>=6.1.4
google-auth==2.40.3
Authlib==1.6.0
httpx==0.28.1
joserfc==1.0.4
gspread-dataframe==3.3.1  
python-dateutil
openpyxl==3.1.5
psutil==7.0.0
